CONFIG_TARGET_QEMU_VIRT=y
CONFIG_BOOTLOADER_BASE=0x40000000
CONFIG_KERNEL_RUNTIME_ADDR=0x52000000
CONFIG_DTB_FALLBACK_ADDR=0x42000000
CONFIG_UART_BASE=0x09000000
CONFIG_UART_CLOCK_HZ=24000000
CONFIG_PERIPH_BASE=0x00000000
CONFIG_OUTPUT_IMAGE="bootloader.bin"
CONFIG_DEFAULT_BOOTARGS="console=ttyAMA0,115200 earlycon=pl011,0x09000000 loglevel=8 ignore_loglevel panic=3 oops=panic"
CONFIG_ENABLE_QEMU_RUN_TARGET=y