CONFIG_TARGET_RPI3=y
CONFIG_BOOTLOADER_BASE=0x00080000
CONFIG_KERNEL_RUNTIME_ADDR=0x00280000
CONFIG_DTB_FALLBACK_ADDR=0x02600000
CONFIG_UART_BASE=0x3F201000
CONFIG_UART_CLOCK_HZ=48000000
CONFIG_PERIPH_BASE=0x3F000000
CONFIG_OUTPUT_IMAGE="kernel8.img"
CONFIG_DEFAULT_BOOTARGS="console=ttyAMA0,115200 earlycon loglevel=8 panic=3"
CONFIG_ENABLE_QEMU_RUN_TARGET=n